﻿@using System.Reflection
@using Barber.Services.Users
@inject Barber.Core.Infrastructure.IAppContext appContext
<!DOCTYPE html>
<html class="k-@ViewBag.Theme">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>@(ViewBag.Title)</title>

    <link href="~/libs/kendo/css/web/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/libs/kendo/css/web/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/libs/kendo/css/web/kendo.silver.min.css" rel="stylesheet" />

    <link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/js/popper.min.js"></script>
    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/libs/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <link href="~/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/css/adminPanel.css" rel="stylesheet" />


    <script src="~/libs/jquery/dist/jquery.js"></script>
    <script src="~/libs/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/libs/jquery valdiation/jquery.validate.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/libs/blockUI/jquery.blockUI.js"></script>
    <script src="~/libs/toast-master/js/jquery.toast.js"></script>
    <script src="~/js/jquery-confirm.js"></script>
    <script src="~/js/adminPanel.js"></script>
    <script src="~/js/nikan.js"></script>


    <script src="~/libs/kendo/js/kendo.all.min.js"></script>
    <script src="~/libs/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/libs/kendo-persian-date/JalaliDate.min.js"></script>
    <script src="~/libs/kendo-persian-date/kendo.web.min.js"></script>
    <script src="~/libs/kendo-persian-date/fa-IR.min.js"></script>
    <script src="~/libs/kendo-persian-date/kendo.calendar.fa.min.js"></script>
    <script src="~/libs/kendo-persian-date/kendo.datepicker.fa.min.js"></script>
    <script src="~/libs/kendo/js/messages/kendo.messages.fa-IR.min.js"></script>

</head>

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">

        <a class="app-header__logo" href="/admin">مدیریت</a>

        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"><i class="fa fa-bars" style="margin-top:18px;" aria-hidden="true"></i></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav mr-auto">
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" style="font-size:12px;" data-toggle="dropdown" aria-label="Open Profile Menu">
                    @appContext.User.FullName&nbsp;&nbsp;<i style="font-size:10px;" class="fas fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li>
                        <a class="dropdown-item" onclick="ChangePassword()">
                            <i class="fas fa-unlock pl-2"></i>تغییر رمز
                        </a>
                    </li>
                    <li class="dropdown-divider m-0"></li>
                    <li>
                        <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                            <button class="dropdown-item">
                                <i class="fas fa-power-off pl-2"></i>خروج
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">

        <div class="app-sidebar__user">
            @{
                var user = await UserManager.GetUserAsync(User);
            }
            <img class="app-sidebar__user-avatar img-fluid" width="28" src="~/images/profile.png" alt="@user.FullName">
            <div>
                <p class="app-sidebar__user-name">@user.FullName</p>
            </div>
        </div>

        <ul class="app-menu">
            <li>
                <a id="dashbordItem" class="app-menu__item" asp-action="Index" asp-controller="WorkTable" asp-area="@AreaNames.Admin">
                    <i class="app-menu__icon fas fa-tachometer-alt" style="padding-left:6px;"></i>
                    <span class="app-menu__label">میز کار</span>
                </a>
            </li>
            <li>
                <a id="categoryItem" class="app-menu__item" href="/Admin/User/index">
                    <i class="app-menu__icon fas fa-users"></i><span class="app-menu__label">کاربران</span>
                </a>
            </li>


        </ul>
    </aside>

    <main class="app-content k-rtl">
        @RenderBody()
    </main>

    <!--CopyRight-->
    @*<div class="copyright">
        <div class="container-fluid">
            <div class="col-md-12">
                @{
                    var appVersion = typeof(Barber.Program).Assembly.GetCustomAttribute<AssemblyFileVersionAttribute>
                        ().Version;
                }
                <a href="http://www.NikanSoft.com" target="_blank">
                    <p style="text-align:center;font-size:10px;">کلیه حقوق مادی و معنوی نرم افزار متعلق به گروه نرم افزاری <span style="color:#4a90e2;">نیکان</span> می باشد- نسخه @appVersion  </p>
                </a>
            </div>
        </div>
    </div>*@
    <!--CopyRight-->
    <!--Modal-->
    <div class="modal fade" id="windowInLayout0" role="dialog" style="direction:rtl">
        <div class="modal-dialog modal-dialog-centered  modal-lg">
            <div class="modal-content">
                <div class="modal-header k-window-titlebar k-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Modal title </h6>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!--Modal-->
    <div class="modal fade" id="windowInLayout" role="dialog" style="direction:rtl">
        <div class="modal-dialog modal-dialog-centered  modal-lg">
            <div class="modal-content">
                <div class="modal-header k-window-titlebar k-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Modal title </h6>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!--Modal2-->
    <div class="modal fade" id="windowInLayout2" role="dialog" style="direction:rtl">
        <div class="modal-dialog modal-dialog-centered  modal-lg">
            <div class="modal-content">
                <div class="modal-header k-window-titlebar k-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Modal title </h6>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!--Modal2-->
    <!--Modal3-->
    <div class="modal fade" id="windowInLayout3" role="dialog" style="direction:rtl">
        <div class="modal-dialog modal-dialog-centered  modal-lg">
            <div class="modal-content">
                <div class="modal-header k-window-titlebar k-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">Modal title </h6>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!--Modal3-->

    <script>
        var nikan = new NikanApp();
        var WindowNameInLayout0 = "windowInLayout0";
        var WindowNameInLayout = "windowInLayout";
        var WindowNameInLayout2 = "windowInLayout2";
        var WindowNameInLayout3 = "windowInLayout3";
        function ChangePassword() {
            OpenModal('/Admin/User/ChangePassword', null, WindowNameInLayout, 'تغییر رمز عبور', "md");
        }
    </script>
    <script src="~/js/adminPanel.js"></script>
    <script src="~/libs/signalr/dist/browser/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/MessageHub").build();
        connection.on("ReceiveMessage", function (message) {
            var msg = message;
            if (msg.includes("Accept")) {
                GetCalls();
            }
        });
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>

    <script>
        $('.modal-dialog').draggable();
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
