﻿@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "صفحه ورود";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    this.Context.Response.StatusCode = (int)HttpStatusCode.Forbidden;//important
}
@model Barber.Models.Account.LoginModel
<link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
<link href="~/libs/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/login.css" rel="stylesheet" />
<script src="~/libs/jquery/dist/jquery.js"></script>
<script src="~/libs/toast-master/js/jquery.toast.js"></script>

<div id="login-section" class="login-bg">
    <div class="container-fluid justify-content-center">

        <div class="row justify-content-center">
            <div class="card col-lg-3 col-md-4 col-sm-6 col-9 p-0 bg-transparent">
                <h5 class="card-header bg-transparent white-text text-center py-4">
                    <a href="http://www.nikansoft.com" target="_blank">
                        <img src="~/images/logoblue.png" class="img-fluid" width="150" />
                    </a>
                </h5>
                <div class="card-body">
                    <form id="loginform" asp-route-returnUrl="@ViewData[" returnUrl"]" role="form">
                        <input asp-for="Username" class="form-control form-control-lg mt-2" type="text" placeholder="نام کاربری">
                        <span asp-validation-for="Username" class="text-info"></span>
                        <input asp-for="Password" class="form-control form-control-lg mt-4" type="password" placeholder="رمز عبور">
                        <span asp-validation-for="Password" class="text-info"></span>
                        <div class="custom-control custom-checkbox p-0 mt-3">
                            <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="RememberMe">مرا بخاطر بسپار</label>
                        </div>
                        <div class="md-form mt-big">
                            <button type="submit" class="btn btn-block blue-gradient btn-rounded waves-effect waves-light">ورود</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer mt-2 justify-content-center text-center">
                    <a class="btn m-low btn-social btn-twitter" target="_blank" href="https://twitter.com/nikansoft">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn m-low btn-social btn-linkedin" target="_blank" href="https://www.linkedin.com/in/nikansoft">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn m-low btn-social btn-facebook" target="_blank" href="https://www.facebook.com/nikan.soft">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn m-low btn-social btn-instagram" target="_blank" href="https://www.instagram.com/nikan_accounting">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <partial name="Notifications" />
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

