﻿@import url(fontiran.css);

body
{
    font-family: IRANSans;
}


a
{
    text-decoration: none !important;
}
/**********************************************************************/

#login-section {
    width: 100%;
    height: 100vh;
    position: relative;
}
    #login-section .container-fluid {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
    }

.btn-rounded {
    border-radius: 6px;
}

.login-bg {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    background-image: url('../../images/bg-login.jpg');
}
.mt-big{
    margin-top:2.5rem!important;
}
.card {
    border-radius: 15px !important;
    /*border:1px solid #808080;*/
}
#login-section input.form-control {
    background: transparent;
}
    #login-section input.form-control::placeholder {
        color: white;
        font-size: 14px;
        font-weight: lighter;
    }
.card-header{
    border-bottom:0px solid white;
}
#login-section input.form-control {
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight:lighter;
}
    #login-section input.form-control:focus {
        /*box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.32);*/
        box-shadow: 0 0 0 0.1rem transparent;
    }
span.field-validation-error {
    font-size: 12px;
    top: -3px;
    right: 10px;
    position: relative;
}

.bg-transparent {
    background-color: #0000002e !important;
}

.card-footer {
    border-top: 1px solid #60626b;
}

a.btn-social {
    padding: 0;
    border: 0px solid white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
}

    a.btn-social i {
        top: 12px;
        font-size: 17px !important;
        color: white;
        position: relative;
    }

a.btn-twitter {
    background-color: #55acee !important;
}

a.btn-linkedin {
    background-color: #0082ca !important;
}

a.btn-facebook {
    background-color: #3b5998 !important;
}

a.btn-instagram {
    background-color: #2e5e86 !important;
}

.m-low {
    margin: 0.1rem !important;
}

.custom-control-label {
    color: white;
    font-size: 13px;
    padding-right: 25px;
    padding-top: 2px;
    font-weight: lighter;
}