﻿@model Barber.Areas.Admin.Models.User.ChangePasswordModel


<form id="ChangePassForm" method="post"
      data-ajax-url="/Admin/User/ChangePassword"
      data-ajax="true"
      data-ajax-success="ChangePass">
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" id="basic-addon1">رمز فعلی :</span>
                </div>
                <input asp-for="OldPassword" type="password" class="form-control" aria-label="OldPassword" aria-describedby="basic-addon1" />

            </div>
            <span asp-validation-for="OldPassword" class="nikan-val-msg text-danger mb-1"></span>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" id="basic-addon1">رمز جدید :</span>
                </div>
                <input asp-for="NewPassword" type="password" class="form-control" aria-label="NewPassword" aria-describedby="basic-addon1" />
            </div>
            <span asp-validation-for="NewPassword" class="nikan-val-msg text-danger mb-1"></span>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text justify-content-center" id="basic-addon1">تکرار رمز جدید :</span>
                </div>
                <input asp-for="ConfirmPassword" type="password" class="form-control" aria-label="ConfirmPassword" aria-describedby="basic-addon1" />
            </div>
            <span asp-validation-for="ConfirmPassword" class="nikan-val-msg text-danger mb-1"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="row col-12">
            <div class="col-6">
                <button type="submit" class=" k-button btn-block">ذخیره</button>
            </div>
            <div class="col-6">
                <button type="button" class=" k-button btn-block" onclick="CloseModal(WindowNameInLayout);">بستن</button>
            </div>
        </div>
    </div>
</form>
<script src="~/libs/jquery valdiation/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>

    function ChangePass(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }

</script>










