﻿@model Barber.Areas.Admin.Models.User.UserModel

<form id="JobForm" method="post"
      data-ajax-url="/Admin/User/Create"
      data-ajax="true"
      data-ajax-success="SaveUser">
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="row col-12">
            <div class="col-4 form-group">
                <label asp-for="FirstName">نام:</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="nikan-val-msg text-danger mb-1"></span>
            </div>
            <div class="col-4 form-group">
                <label asp-for="LastName">نام خانوادگی:</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="nikan-val-msg text-danger mb-1"></span>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-6 form-group">
                <label asp-for="UserName">نام کاربری:</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="nikan-val-msg text-danger mb-1"></span>
            </div>
            <div class="col-6 form-group k-content k-rtl">
                <label asp-for="UserRoleNames">نقش کاربری:</label>
                @(Html.Kendo().MultiSelectFor(m => m.UserRoleNames)
                   .Placeholder(T["msg.SelectItem"].Value)
                   .DataTextField("Text").DataValueField("Value")
                   .HtmlAttributes(new { @class = "form-control" })
                   .BindTo((IEnumerable<SelectListItem>)ViewBag.Roles)
                )
            </div>
        </div>

        <div class="row col-12">
            <div class="col-6 form-group">
                <label asp-for="Password">رمز عبور:</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="nikan-val-msg text-danger mb-1"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="ConfirmPassword">تکرار رمز عبور:</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="nikan-val-msg text-danger mb-1"></span>
            </div>
        </div>

        <div class="col-12 form-check">
            <label class="form-check-label" for="IsActive">
                وضعیت:
            </label>
            <input asp-for="IsActive" class="form-check-input mr-1" type="checkbox" />
        </div>
    </div>
    <div class="form-group mt-2">
        <div class="row col-12">
            <div class="col-6">
                <button type="submit" class=" k-button btn-block">ذخیره</button>
            </div>
            <div class="col-6">
                <button type="button" class=" k-button btn-block" onclick="CloseModal(WindowNameInLayout);">بستن</button>
            </div>
        </div>
    </div>
</form>
<script src="~/libs/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    function SaveUser(result) {
        if (result.Success) {
            nikan.notify("success", "پیام", result.Message);
            CloseModal(WindowNameInLayout);
            RefreshKendoGrid('UserGrid');
        }
        else {
            nikan.notify("error", "خطا", result.Message);
        }
    }

</script>







