﻿@{
    var UserGridName = "UserGrid";
    ViewBag.Title = "مدیریت کاربران";
}

<h6 class="mt-4 alert alert-secondary text-center">@ViewBag.Title</h6>

<hr class="k-header" />
<div class="k-rtl mb-5">

    @(Html.Kendo().Grid<Barber.Areas.Admin.Models.User.UserIndexModel>()
                    .Name(UserGridName)
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.Id).Title("#").ClientTemplate("#= UserGridIndex=IncrementRowNumber(UserGridIndex) #").Width(20).Sortable(false).Filterable(false);
                        columns.Bound(p => p.FirstName).Title("نام").Width(80).HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.LastName).Title("نام خانوادگی").Width(80).HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.Username).Title("نام کاربری").Width(80).HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.InternalCode).Title("کد").Width(80).HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.Roles).Title("نقش").Width(150).HeaderHtmlAttributes(new { @class = "text-right" });
                        columns.Bound(p => p.IsActive).Title("وضعیت").HeaderHtmlAttributes(new { @class = "text-right" }).Width(90)
                        .ClientTemplate("#if(IsActive==true){# <span class='text-info'>فعال</span> #} else {# <span class='text-danger'>غیرفعال</span> #}#")
                                        .Width(70).HeaderHtmlAttributes(new { @class = "text-right" }).Filterable(false); ;

                        columns.Bound(p => p.Id).ClientTemplate("" + "<a class='btn-sm mx-1 k-button' onclick='EditUser(#= data.Id #)'><span class='k-icon k-i-edit'></span>&nbsp;ویرایش</a>" +
                                                                "<a class='btn-sm mx-1 k-button' onclick='SetNewPass(#= data.Id #)'><span class='k-icon k-i-lock'></span>&nbsp;رمز جدید</a>")
                        .Title("عملیات").Width(250).Filterable(false).Sortable(false);
                    })
                    .ToolBar(tools => tools.ClientTemplate("<a class='k-button btn-md ' onclick='CreateUser()'><span class='k-icon k-i-plus-sm'></span>&nbsp;جدید</a> "))
                    .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                    .Pageable(pageable => pageable.Refresh(true).PageSizes(KendoGridSetting.PageSizes).Numeric(true).PreviousNext(true).Input(true).Info(true))
                    .Scrollable(s => s.Height("auto"))
                    .Filterable()
                    .Resizable(resize => resize.Columns(true))
                    .Reorderable(reorder => reorder.Columns(true))
                    .DataSource(dataSource => dataSource
                        .WebApi()
                        .Sort(sort => sort.Add(m => m.Id).Ascending())
                        .Model(model => { model.Id(p => p.Id); })
                        .Read(read => read.Url(Url.RouteUrl("apis", new { controller = "User", action = "Data_Read" }))).PageSize(KendoGridSetting.DefaultPageSize)
                    )
                    .Events(events => events.DataBinding("UserGridDataBinding"))
    )

</div>

<script>
    var UserGridIndex = 0;

    function UserGridDataBinding() {
        UserGridIndex = GridDataBinding('@UserGridName');
    }
    function CreateUser() {
          OpenModal('@Url.Action("Create")',null, WindowNameInLayout, 'همکار جدید');
        }
    function EditUser(id) {
        OpenModal("/Admin/User/EditUser/"+id,null, WindowNameInLayout, 'ویرایش همکار',"md");
    }
         function SetNewPass(id) {
         OpenModal('@Url.Action("SetNewPassword")'+"/"+id,null, WindowNameInLayout, 'اختصاص رمز جدید','sm');
    }
</script>


