﻿
@{
    ViewData["Title"] = "OnlinePayment";
}
    <div class="container text-center">
        @if (ViewBag.Done)
        {
            <h6 class="alert alert-success text-center">کد پیگیری:@ViewBag.code</h6>
            <h6 class="alert alert-secondary text-center">کد مرجع:@ViewBag.RefId</h6>

            <div class="container text-center align-content-center align-items-center">
                <a href="nikanbarber://nikan.com" class="btn btn-secondary btn-lg">بازگشت به برنامه</a>
            </div> 
        }
        @if (!ViewBag.Done)
        {
            <h6 class="alert alert-danger text-center">پرداخت ناموفق</h6>
        }
    </div>
   

