﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/libs/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <link href="~/libs/fontawesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid p-0 m-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/libs/toast-master/js/jquery.toast.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
