﻿@using Barber.Core.Enums
@using Barber.Infrastructure.UI
@{
    ViewData["Title"] = "خطا!";
    this.Context.Response.StatusCode = (int)HttpStatusCode.InternalServerError;//important
}
<div class="panel panel-danger top30">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        متاسفانه در حین پردازش درخواست جاری خطایی رخ داده‌است.
        @if (User.IsInRole(UserRoleNames.Admin))
        {
            <a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaNames.Admin"> مشاهده‌ی لیست خطاهای ثبت شده. </a>
        }
    </div>
</div>